<div id="page_content">
    <div id="replication"><h2>
        <img src="themes/dot.gif" title="" alt="" class="icon ic_s_replication"> 复制
    </h2>
        <fieldset>
            <legend>主复制</legend>
            此服务器尚未配置为一个复制进程中的主服务器。你想现在<a
                href="server_replication.php?server=1&amp;mr_configure=1&amp;token=b7cde5c9cc528362361e168a36c84ae5">配置</a>吗？
        </fieldset>
    </div>
    <fieldset>
        <legend>从复制</legend>
        此服务器尚未配置为一个复制进程中的从服务器。你想现在<a
            href="server_replication.php?server=1&amp;sl_configure=1&amp;repl_clear_scr=1&amp;token=b7cde5c9cc528362361e168a36c84ae5">配置</a>吗？
    </fieldset>
</div>