<div id="page_content"><h2>
    <img src="themes/dot.gif" title="" alt="" class="icon ic_b_engine"> 存储引擎
</h2>
    <table class="noclick">
        <thead>
        <tr>
            <th>存储引擎</th>
            <th>说明</th>
        </tr>
        </thead>
        <tbody>
        <tr class="
                odd                                ">
            <td>
                <a rel="newpage" href="server_engines.php?engine=InnoDB&amp;token=b7cde5c9cc528362361e168a36c84ae5">
                    InnoDB </a>
            </td>
            <td>Supports transactions, row-level locking, and foreign keys</td>
        </tr>
        <tr class="
                even                                ">
            <td>
                <a rel="newpage" href="server_engines.php?engine=MRG_MYISAM&amp;token=b7cde5c9cc528362361e168a36c84ae5">
                    MRG_MYISAM </a>
            </td>
            <td>Collection of identical MyISAM tables</td>
        </tr>
        <tr class="
                odd                                ">
            <td>
                <a rel="newpage" href="server_engines.php?engine=MEMORY&amp;token=b7cde5c9cc528362361e168a36c84ae5">
                    MEMORY </a>
            </td>
            <td>Hash based, stored in memory, useful for temporary tables</td>
        </tr>
        <tr class="
                even                                ">
            <td>
                <a rel="newpage" href="server_engines.php?engine=BLACKHOLE&amp;token=b7cde5c9cc528362361e168a36c84ae5">
                    BLACKHOLE </a>
            </td>
            <td>/dev/null storage engine (anything you write to it disappears)</td>
        </tr>
        <tr class="
                odd                                 marked">
            <td>
                <a rel="newpage" href="server_engines.php?engine=MyISAM&amp;token=b7cde5c9cc528362361e168a36c84ae5">
                    MyISAM </a>
            </td>
            <td>MyISAM storage engine</td>
        </tr>
        <tr class="
                even                                ">
            <td>
                <a rel="newpage" href="server_engines.php?engine=CSV&amp;token=b7cde5c9cc528362361e168a36c84ae5">
                    CSV </a>
            </td>
            <td>CSV storage engine</td>
        </tr>
        <tr class="
                odd                                ">
            <td>
                <a rel="newpage" href="server_engines.php?engine=ARCHIVE&amp;token=b7cde5c9cc528362361e168a36c84ae5">
                    ARCHIVE </a>
            </td>
            <td>Archive storage engine</td>
        </tr>
        <tr class="
                even                                ">
            <td>
                <a rel="newpage"
                   href="server_engines.php?engine=PERFORMANCE_SCHEMA&amp;token=b7cde5c9cc528362361e168a36c84ae5">
                    PERFORMANCE_SCHEMA </a>
            </td>
            <td>Performance Schema</td>
        </tr>
        <tr class="
                odd                 disabled                ">
            <td>
                <a rel="newpage" href="server_engines.php?engine=FEDERATED&amp;token=b7cde5c9cc528362361e168a36c84ae5">
                    FEDERATED </a>
            </td>
            <td>Federated MySQL storage engine</td>
        </tr>
        </tbody>
    </table>
</div>