<div id="page_content"><h2>
    <img src="<?=__PUBLIC__?>/phpmyadmin/dot.gif" title="" alt="" class="icon ic_b_engine"> 插件
</h2>
    <div id="plugins_plugins">
        <div id="sectionlinks">
            <a href="#plugins-authentication">
                AUTHENTICATION </a>
            <a href="#plugins-ftparser">
                FTPARSER </a>
            <a href="#plugins-informationschema">
                INFORMATION SCHEMA </a>
            <a href="#plugins-storageengine">
                STORAGE ENGINE </a>
        </div>
        <br>
        <table class="data_full_width" id="plugins-authentication">
            <caption class="tblHeaders">
                AUTHENTICATION
            </caption>
            <thead>
            <tr>
                <th class="header headerSortDown">插件
                    <div class="sorticon"></div>
                </th>
                <th>说明
                    <div class="sorticon"></div>
                </th>
                <th class="header">版本
                    <div class="sorticon"></div>
                </th>
                <th class="header">作者
                    <div class="sorticon"></div>
                </th>
                <th class="header">授权
                    <div class="sorticon"></div>
                </th>
            </tr>
            </thead>
            <tbody>


            <tr class="noclick odd">
                <th>
                    mysql_native_password
                </th>
                <td>Native MySQL authentication</td>
                <td>1.1</td>
                <td>R.J.Silk, Sergei Golubchik</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick even">
                <th>
                    sha256_password
                </th>
                <td>SHA256 password authentication</td>
                <td>1.1</td>
                <td>Oracle</td>
                <td>GPL</td>
            </tr>
            </tbody>
        </table>
        <table class="data_full_width" id="plugins-ftparser">
            <caption class="tblHeaders">
                FTPARSER
            </caption>
            <thead>
            <tr>
                <th>插件</th>
                <th>说明</th>
                <th>版本</th>
                <th>作者</th>
                <th>授权</th>
            </tr>
            </thead>
            <tbody>
            <tr class="noclick odd">
                <th>
                    ngram
                </th>
                <td>Ngram Full-Text Parser</td>
                <td>1.1</td>
                <td>Oracle Corp</td>
                <td>GPL</td>
            </tr>
            </tbody>
        </table>
        <table class="data_full_width" id="plugins-informationschema">
            <caption class="tblHeaders">
                INFORMATION SCHEMA
            </caption>
            <thead>
            <tr>
                <th class="header headerSortDown">插件
                    <div class="sorticon"></div>
                </th>
                <th>说明
                    <div class="sorticon"></div>
                </th>
                <th class="header">版本
                    <div class="sorticon"></div>
                </th>
                <th class="header">作者
                    <div class="sorticon"></div>
                </th>
                <th class="header">授权
                    <div class="sorticon"></div>
                </th>
            </tr>
            </thead>
            <tbody>


            <tr class="noclick odd">
                <th>
                    INNODB_BUFFER_PAGE
                </th>
                <td>InnoDB Buffer Page Information</td>
                <td>50714.0</td>
                <td>Oracle Corporation</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick even">
                <th>
                    INNODB_BUFFER_PAGE_LRU
                </th>
                <td>InnoDB Buffer Page in LRU</td>
                <td>50714.0</td>
                <td>Oracle Corporation</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick odd">
                <th>
                    INNODB_BUFFER_POOL_STATS
                </th>
                <td>InnoDB Buffer Pool Statistics Information</td>
                <td>50714.0</td>
                <td>Oracle Corporation</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick even">
                <th>
                    INNODB_CMP
                </th>
                <td>Statistics for the InnoDB compression</td>
                <td>50714.0</td>
                <td>Oracle Corporation</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick odd">
                <th>
                    INNODB_CMP_PER_INDEX
                </th>
                <td>Statistics for the InnoDB compression (per index)</td>
                <td>50714.0</td>
                <td>Oracle Corporation</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick even">
                <th>
                    INNODB_CMP_PER_INDEX_RESET
                </th>
                <td>Statistics for the InnoDB compression (per index); reset cumulated counts</td>
                <td>50714.0</td>
                <td>Oracle Corporation</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick odd">
                <th>
                    INNODB_CMP_RESET
                </th>
                <td>Statistics for the InnoDB compression; reset cumulated counts</td>
                <td>50714.0</td>
                <td>Oracle Corporation</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick even">
                <th>
                    INNODB_CMPMEM
                </th>
                <td>Statistics for the InnoDB compressed buffer pool</td>
                <td>50714.0</td>
                <td>Oracle Corporation</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick odd">
                <th>
                    INNODB_CMPMEM_RESET
                </th>
                <td>Statistics for the InnoDB compressed buffer pool; reset cumulated counts</td>
                <td>50714.0</td>
                <td>Oracle Corporation</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick even">
                <th>
                    INNODB_FT_BEING_DELETED
                </th>
                <td>INNODB AUXILIARY FTS BEING DELETED TABLE</td>
                <td>50714.0</td>
                <td>Oracle Corporation</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick odd">
                <th>
                    INNODB_FT_CONFIG
                </th>
                <td>INNODB AUXILIARY FTS CONFIG TABLE</td>
                <td>50714.0</td>
                <td>Oracle Corporation</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick even">
                <th>
                    INNODB_FT_DEFAULT_STOPWORD
                </th>
                <td>Default stopword list for InnDB Full Text Search</td>
                <td>50714.0</td>
                <td>Oracle Corporation</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick odd">
                <th>
                    INNODB_FT_DELETED
                </th>
                <td>INNODB AUXILIARY FTS DELETED TABLE</td>
                <td>50714.0</td>
                <td>Oracle Corporation</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick even">
                <th>
                    INNODB_FT_INDEX_CACHE
                </th>
                <td>INNODB AUXILIARY FTS INDEX CACHED</td>
                <td>50714.0</td>
                <td>Oracle Corporation</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick odd">
                <th>
                    INNODB_FT_INDEX_TABLE
                </th>
                <td>INNODB AUXILIARY FTS INDEX TABLE</td>
                <td>50714.0</td>
                <td>Oracle Corporation</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick even">
                <th>
                    INNODB_LOCK_WAITS
                </th>
                <td>InnoDB which lock is blocking which</td>
                <td>50714.0</td>
                <td>Oracle Corporation</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick odd">
                <th>
                    INNODB_LOCKS
                </th>
                <td>InnoDB conflicting locks</td>
                <td>50714.0</td>
                <td>Oracle Corporation</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick even">
                <th>
                    INNODB_METRICS
                </th>
                <td>InnoDB Metrics Info</td>
                <td>50714.0</td>
                <td>Oracle Corporation</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick odd">
                <th>
                    INNODB_SYS_COLUMNS
                </th>
                <td>InnoDB SYS_COLUMNS</td>
                <td>50714.0</td>
                <td>Oracle Corporation</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick even">
                <th>
                    INNODB_SYS_DATAFILES
                </th>
                <td>InnoDB SYS_DATAFILES</td>
                <td>50714.0</td>
                <td>Oracle Corporation</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick odd">
                <th>
                    INNODB_SYS_FIELDS
                </th>
                <td>InnoDB SYS_FIELDS</td>
                <td>50714.0</td>
                <td>Oracle Corporation</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick even">
                <th>
                    INNODB_SYS_FOREIGN
                </th>
                <td>InnoDB SYS_FOREIGN</td>
                <td>50714.0</td>
                <td>Oracle Corporation</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick odd">
                <th>
                    INNODB_SYS_FOREIGN_COLS
                </th>
                <td>InnoDB SYS_FOREIGN_COLS</td>
                <td>50714.0</td>
                <td>Oracle Corporation</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick even">
                <th>
                    INNODB_SYS_INDEXES
                </th>
                <td>InnoDB SYS_INDEXES</td>
                <td>50714.0</td>
                <td>Oracle Corporation</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick odd">
                <th>
                    INNODB_SYS_TABLES
                </th>
                <td>InnoDB SYS_TABLES</td>
                <td>50714.0</td>
                <td>Oracle Corporation</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick even">
                <th>
                    INNODB_SYS_TABLESPACES
                </th>
                <td>InnoDB SYS_TABLESPACES</td>
                <td>50714.0</td>
                <td>Oracle Corporation</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick odd">
                <th>
                    INNODB_SYS_TABLESTATS
                </th>
                <td>InnoDB SYS_TABLESTATS</td>
                <td>50714.0</td>
                <td>Oracle Corporation</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick even">
                <th>
                    INNODB_SYS_VIRTUAL
                </th>
                <td>InnoDB SYS_VIRTUAL</td>
                <td>50714.0</td>
                <td>Oracle Corporation</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick odd">
                <th>
                    INNODB_TEMP_TABLE_INFO
                </th>
                <td>InnoDB Temp Table Stats</td>
                <td>50714.0</td>
                <td>Oracle Corporation</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick even">
                <th>
                    INNODB_TRX
                </th>
                <td>InnoDB transactions</td>
                <td>50714.0</td>
                <td>Oracle Corporation</td>
                <td>GPL</td>
            </tr>
            </tbody>
        </table>
        <table class="data_full_width" id="plugins-storageengine">
            <caption class="tblHeaders">
                STORAGE ENGINE
            </caption>
            <thead>
            <tr>
                <th class="header headerSortDown">插件
                    <div class="sorticon"></div>
                </th>
                <th>说明
                    <div class="sorticon"></div>
                </th>
                <th class="header">版本
                    <div class="sorticon"></div>
                </th>
                <th class="header">作者
                    <div class="sorticon"></div>
                </th>
                <th class="header">授权
                    <div class="sorticon"></div>
                </th>
            </tr>
            </thead>
            <tbody>


            <tr class="noclick odd">
                <th>
                    ARCHIVE
                </th>
                <td>Archive storage engine</td>
                <td>50714.0</td>
                <td>Brian Aker, MySQL AB</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick even">
                <th>
                    binlog
                </th>
                <td>This is a pseudo storage engine to represent the binlog in a transaction</td>
                <td>50714.0</td>
                <td>MySQL AB</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick odd">
                <th>
                    BLACKHOLE
                </th>
                <td>/dev/null storage engine (anything you write to it disappears)</td>
                <td>50714.0</td>
                <td>MySQL AB</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick even">
                <th>
                    CSV
                </th>
                <td>CSV storage engine</td>
                <td>50714.0</td>
                <td>Brian Aker, MySQL AB</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick odd">
                <th>
                    FEDERATED
                    <small class="attention">已禁用</small>
                </th>
                <td>Federated MySQL storage engine</td>
                <td>50714.0</td>
                <td>Patrick Galbraith and Brian Aker, MySQL AB</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick even">
                <th>
                    InnoDB
                </th>
                <td>Supports transactions, row-level locking, and foreign keys</td>
                <td>50714.0</td>
                <td>Oracle Corporation</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick odd">
                <th>
                    MEMORY
                </th>
                <td>Hash based, stored in memory, useful for temporary tables</td>
                <td>50714.0</td>
                <td>MySQL AB</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick even">
                <th>
                    MRG_MYISAM
                </th>
                <td>Collection of identical MyISAM tables</td>
                <td>50714.0</td>
                <td>MySQL AB</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick odd">
                <th>
                    MyISAM
                </th>
                <td>MyISAM storage engine</td>
                <td>50714.0</td>
                <td>MySQL AB</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick even">
                <th>
                    partition
                </th>
                <td>Partition Storage Engine Helper</td>
                <td>50714.0</td>
                <td>Mikael Ronstrom, MySQL AB</td>
                <td>GPL</td>
            </tr>
            <tr class="noclick odd">
                <th>
                    PERFORMANCE_SCHEMA
                </th>
                <td>Performance Schema</td>
                <td>50714.0</td>
                <td>Marc Alff, Oracle</td>
                <td>GPL</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>