<div id="page_content">
    <div>
        <ul id="topmenu2">
            <li><a class="tabactive" href="server_status.php?token=b7cde5c9cc528362361e168a36c84ae5">服务器</a></li>
            <li><a href="server_status_processes.php?token=b7cde5c9cc528362361e168a36c84ae5">进程</a></li>
            <li><a href="server_status_queries.php?token=b7cde5c9cc528362361e168a36c84ae5">查询统计</a></li>
            <li><a href="server_status_variables.php?token=b7cde5c9cc528362361e168a36c84ae5">所有状态变量</a></li>
            <li><a href="server_status_monitor.php?token=b7cde5c9cc528362361e168a36c84ae5">监控</a></li>
            <li><a href="server_status_advisor.php?token=b7cde5c9cc528362361e168a36c84ae5">建议</a></li>
        </ul>
        <div class="clearfloat"></div>
        <h3>自启动以来的网络流量: 3.8 MB</h3>
        <p>此 MySQL 服务器已运行 0 天 9 小时，1 分 39 秒。启动时间为 2018-09-05 23:51:09 。
        </p>
        <table id="serverstatustraffic" class="data noclick">
            <thead>
            <tr>
                <th>流量&nbsp;<span class="pma_hint"><img src="themes/dot.gif" title="" alt=""
                                                        class="icon ic_b_help"><span class="hide">在高负载的服务器上，字节计数器可能会溢出，因此由 MySQL 返回的统计值可能会不正确。</span></span>
                </th>
                <th>#</th>
                <th>ø 每小时</th>
            </tr>
            </thead>
            <tbody>
            <tr class="odd">
                <th class="name">已接收</th>
                <td class="value">245 KB</td>
                <td class="value">27.1 KB</td>
            </tr>
            <tr class="even">
                <th class="name">已发送</th>
                <td class="value">3.5 MB</td>
                <td class="value">400.3 KB</td>
            </tr>
            <tr class="odd">
                <th class="name">总计</th>
                <td class="value">3.8 MB</td>
                <td class="value">427.5 KB</td>
            </tr>
            </tbody>
        </table>
        <table id="serverstatusconnections" class="data noclick">
            <thead>
            <tr>
                <th>连接</th>
                <th>#</th>
                <th>ø 每小时</th>
                <th>%</th>
            </tr>
            </thead>
            <tbody>
            <tr class="odd">
                <th class="name">最大并发连接数</th>
                <td class="value">4</td>
                <td class="value">---</td>
                <td class="value">---</td>
            </tr>
            <tr class="even">
                <th class="name">已失败</th>
                <td class="value">1</td>
                <td class="value">0.11</td>
                <td class="value">0.11%</td>
            </tr>
            <tr class="odd">
                <th class="name">已取消</th>
                <td class="value">0</td>
                <td class="value">0</td>
                <td class="value">0%</td>
            </tr>
            <tr class="even">
                <th class="name">总计</th>
                <td class="value">874</td>
                <td class="value">96.82</td>
                <td class="value">100.00%</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>