<div id="page_content"><h2>
    <img src="themes/dot.gif" title="" alt="" class="icon ic_s_asci"> 字符集和排序规则
</h2>
    <div id="div_mysql_charset_collations">
        <table class="data noclick">
            <tbody>
            <tr>
                <th id="collationHeader">排序规则</th>
                <th>说明</th>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    armscii8 (<i>ARMSCII-8 Armenian</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>armscii8_bin</td>
                <td>亚美尼亚语, 二进制</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>armscii8_general_ci</td>
                <td>亚美尼亚语, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    ascii (<i>US ASCII</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>ascii_bin</td>
                <td>西欧 (多语言), 二进制</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>ascii_general_ci</td>
                <td>西欧 (多语言), 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    big5 (<i>Big5 Traditional Chinese</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>big5_bin</td>
                <td>繁体中文, 二进制</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>big5_chinese_ci</td>
                <td>繁体中文, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    binary (<i>Binary pseudo charset</i>)
                </th>
            </tr>
            <tr class="
                    odd                     marked                                        ">
                <td>binary</td>
                <td>二进制</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    cp1250 (<i>Windows Central European</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>cp1250_bin</td>
                <td>中欧 (多语言), 二进制</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>cp1250_croatian_ci</td>
                <td>克罗地亚语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>cp1250_czech_cs</td>
                <td>捷克语, 区分大小写</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>cp1250_general_ci</td>
                <td>中欧 (多语言), 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>cp1250_polish_ci</td>
                <td>波兰语, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    cp1251 (<i>Windows Cyrillic</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>cp1251_bin</td>
                <td>西里尔语 (多语言), 二进制</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>cp1251_bulgarian_ci</td>
                <td>保加利亚语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                     marked                                        ">
                <td>cp1251_general_ci</td>
                <td>西里尔语 (多语言), 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>cp1251_general_cs</td>
                <td>西里尔语 (多语言), 区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>cp1251_ukrainian_ci</td>
                <td>乌克兰语, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    cp1256 (<i>Windows Arabic</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>cp1256_bin</td>
                <td>阿拉伯语, 二进制</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>cp1256_general_ci</td>
                <td>阿拉伯语, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    cp1257 (<i>Windows Baltic</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>cp1257_bin</td>
                <td>巴拉克语 (多语言), 二进制</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>cp1257_general_ci</td>
                <td>巴拉克语 (多语言), 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>cp1257_lithuanian_ci</td>
                <td>立陶宛语, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    cp850 (<i>DOS West European</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>cp850_bin</td>
                <td>西欧 (多语言), 二进制</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>cp850_general_ci</td>
                <td>西欧 (多语言), 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    cp852 (<i>DOS Central European</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>cp852_bin</td>
                <td>中欧 (多语言), 二进制</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>cp852_general_ci</td>
                <td>中欧 (多语言), 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    cp866 (<i>DOS Russian</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>cp866_bin</td>
                <td>俄语, 二进制</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>cp866_general_ci</td>
                <td>俄语, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    cp932 (<i>SJIS for Windows Japanese</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>cp932_bin</td>
                <td>日语, 二进制</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>cp932_japanese_ci</td>
                <td>日语, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    dec8 (<i>DEC West European</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>dec8_bin</td>
                <td>西欧 (多语言), 二进制</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>dec8_swedish_ci</td>
                <td>瑞典语, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    eucjpms (<i>UJIS for Windows Japanese</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>eucjpms_bin</td>
                <td>日语, 二进制</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>eucjpms_japanese_ci</td>
                <td>日语, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    euckr (<i>EUC-KR Korean</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>euckr_bin</td>
                <td>朝鲜语, 二进制</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>euckr_korean_ci</td>
                <td>朝鲜语, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    gb18030 (<i>China National Standard GB18030</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>gb18030_bin</td>
                <td>未知, 二进制</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>gb18030_chinese_ci</td>
                <td>, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>gb18030_unicode_520_ci</td>
                <td>Unicode (多语言)</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    gb2312 (<i>GB2312 Simplified Chinese</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>gb2312_bin</td>
                <td>简体中文, 二进制</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>gb2312_chinese_ci</td>
                <td>简体中文, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    gbk (<i>GBK Simplified Chinese</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>gbk_bin</td>
                <td>简体中文, 二进制</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>gbk_chinese_ci</td>
                <td>简体中文, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    geostd8 (<i>GEOSTD8 Georgian</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>geostd8_bin</td>
                <td>乔治亚语, 二进制</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>geostd8_general_ci</td>
                <td>乔治亚语, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    greek (<i>ISO 8859-7 Greek</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>greek_bin</td>
                <td>希腊语, 二进制</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>greek_general_ci</td>
                <td>希腊语, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    hebrew (<i>ISO 8859-8 Hebrew</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>hebrew_bin</td>
                <td>希伯来语, 二进制</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>hebrew_general_ci</td>
                <td>希伯来语, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    hp8 (<i>HP West European</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>hp8_bin</td>
                <td>西欧 (多语言), 二进制</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>hp8_english_ci</td>
                <td>英语, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    keybcs2 (<i>DOS Kamenicky Czech-Slovak</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>keybcs2_bin</td>
                <td>捷克斯洛伐克语, 二进制</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>keybcs2_general_ci</td>
                <td>捷克斯洛伐克语, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    koi8r (<i>KOI8-R Relcom Russian</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>koi8r_bin</td>
                <td>俄语, 二进制</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>koi8r_general_ci</td>
                <td>俄语, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    koi8u (<i>KOI8-U Ukrainian</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>koi8u_bin</td>
                <td>乌克兰语, 二进制</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>koi8u_general_ci</td>
                <td>乌克兰语, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    latin1 (<i>cp1252 West European</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>latin1_bin</td>
                <td>西欧 (多语言), 二进制</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>latin1_danish_ci</td>
                <td>丹麦语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>latin1_general_ci</td>
                <td>西欧 (多语言), 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>latin1_general_cs</td>
                <td>西欧 (多语言), 区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>latin1_german1_ci</td>
                <td>德语 (字典), 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>latin1_german2_ci</td>
                <td>德语 (电话本), 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>latin1_spanish_ci</td>
                <td>西班牙语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>latin1_swedish_ci</td>
                <td>瑞典语, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    latin2 (<i>ISO 8859-2 Central European</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>latin2_bin</td>
                <td>中欧 (多语言), 二进制</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>latin2_croatian_ci</td>
                <td>克罗地亚语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>latin2_czech_cs</td>
                <td>捷克语, 区分大小写</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>latin2_general_ci</td>
                <td>中欧 (多语言), 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>latin2_hungarian_ci</td>
                <td>匈牙利语, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    latin5 (<i>ISO 8859-9 Turkish</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>latin5_bin</td>
                <td>土耳其语, 二进制</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>latin5_turkish_ci</td>
                <td>土耳其语, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    latin7 (<i>ISO 8859-13 Baltic</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>latin7_bin</td>
                <td>巴拉克语 (多语言), 二进制</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>latin7_estonian_cs</td>
                <td>爱沙尼亚语, 区分大小写</td>
            </tr>
            <tr class="
                    odd                     marked                                        ">
                <td>latin7_general_ci</td>
                <td>巴拉克语 (多语言), 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>latin7_general_cs</td>
                <td>巴拉克语 (多语言), 区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    macce (<i>Mac Central European</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>macce_bin</td>
                <td>中欧 (多语言), 二进制</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>macce_general_ci</td>
                <td>中欧 (多语言), 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    macroman (<i>Mac West European</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>macroman_bin</td>
                <td>西欧 (多语言), 二进制</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>macroman_general_ci</td>
                <td>西欧 (多语言), 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    sjis (<i>Shift-JIS Japanese</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>sjis_bin</td>
                <td>日语, 二进制</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>sjis_japanese_ci</td>
                <td>日语, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    swe7 (<i>7bit Swedish</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>swe7_bin</td>
                <td>瑞典语, 二进制</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>swe7_swedish_ci</td>
                <td>瑞典语, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    tis620 (<i>TIS620 Thai</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>tis620_bin</td>
                <td>泰语, 二进制</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>tis620_thai_ci</td>
                <td>泰语, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    ucs2 (<i>UCS-2 Unicode</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>ucs2_bin</td>
                <td>Unicode (多语言), 二进制</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>ucs2_croatian_ci</td>
                <td>克罗地亚语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>ucs2_czech_ci</td>
                <td>捷克语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>ucs2_danish_ci</td>
                <td>丹麦语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>ucs2_esperanto_ci</td>
                <td>世界语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>ucs2_estonian_ci</td>
                <td>爱沙尼亚语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                     marked                                        ">
                <td>ucs2_general_ci</td>
                <td>Unicode (多语言), 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>ucs2_general_mysql500_ci</td>
                <td>Unicode (多语言)</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>ucs2_german2_ci</td>
                <td>德语 (电话本), 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>ucs2_hungarian_ci</td>
                <td>匈牙利语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>ucs2_icelandic_ci</td>
                <td>冰岛语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>ucs2_latvian_ci</td>
                <td>拉脱维亚语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>ucs2_lithuanian_ci</td>
                <td>立陶宛语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>ucs2_persian_ci</td>
                <td>波斯语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>ucs2_polish_ci</td>
                <td>波兰语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>ucs2_roman_ci</td>
                <td>西欧, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>ucs2_romanian_ci</td>
                <td>罗马尼亚语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>ucs2_sinhala_ci</td>
                <td>僧伽罗语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>ucs2_slovak_ci</td>
                <td>斯洛伐克语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>ucs2_slovenian_ci</td>
                <td>斯洛文尼亚语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>ucs2_spanish2_ci</td>
                <td>传统西班牙语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>ucs2_spanish_ci</td>
                <td>西班牙语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>ucs2_swedish_ci</td>
                <td>瑞典语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>ucs2_turkish_ci</td>
                <td>土耳其语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>ucs2_unicode_520_ci</td>
                <td>Unicode (多语言)</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>ucs2_unicode_ci</td>
                <td>Unicode (多语言), 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>ucs2_vietnamese_ci</td>
                <td>越南语, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    ujis (<i>EUC-JP Japanese</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>ujis_bin</td>
                <td>日语, 二进制</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>ujis_japanese_ci</td>
                <td>日语, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    utf16 (<i>UTF-16 Unicode</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf16_bin</td>
                <td>未知, 二进制</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf16_croatian_ci</td>
                <td>克罗地亚语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf16_czech_ci</td>
                <td>捷克语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf16_danish_ci</td>
                <td>丹麦语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf16_esperanto_ci</td>
                <td>世界语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf16_estonian_ci</td>
                <td>爱沙尼亚语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                     marked                                        ">
                <td>utf16_general_ci</td>
                <td>未知, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf16_german2_ci</td>
                <td>德语 (电话本), 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf16_hungarian_ci</td>
                <td>匈牙利语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf16_icelandic_ci</td>
                <td>冰岛语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf16_latvian_ci</td>
                <td>拉脱维亚语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf16_lithuanian_ci</td>
                <td>立陶宛语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf16_persian_ci</td>
                <td>波斯语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf16_polish_ci</td>
                <td>波兰语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf16_roman_ci</td>
                <td>西欧, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf16_romanian_ci</td>
                <td>罗马尼亚语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf16_sinhala_ci</td>
                <td>僧伽罗语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf16_slovak_ci</td>
                <td>斯洛伐克语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf16_slovenian_ci</td>
                <td>斯洛文尼亚语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf16_spanish2_ci</td>
                <td>传统西班牙语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf16_spanish_ci</td>
                <td>西班牙语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf16_swedish_ci</td>
                <td>瑞典语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf16_turkish_ci</td>
                <td>土耳其语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf16_unicode_520_ci</td>
                <td>Unicode (多语言)</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf16_unicode_ci</td>
                <td>Unicode (多语言), 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf16_vietnamese_ci</td>
                <td>越南语, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    utf16le (<i>UTF-16LE Unicode</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf16le_bin</td>
                <td>未知, 二进制</td>
            </tr>
            <tr class="
                    even                     marked                                        ">
                <td>utf16le_general_ci</td>
                <td>未知, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    utf32 (<i>UTF-32 Unicode</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf32_bin</td>
                <td>未知, 二进制</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf32_croatian_ci</td>
                <td>克罗地亚语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf32_czech_ci</td>
                <td>捷克语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf32_danish_ci</td>
                <td>丹麦语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf32_esperanto_ci</td>
                <td>世界语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf32_estonian_ci</td>
                <td>爱沙尼亚语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                     marked                                        ">
                <td>utf32_general_ci</td>
                <td>未知, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf32_german2_ci</td>
                <td>德语 (电话本), 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf32_hungarian_ci</td>
                <td>匈牙利语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf32_icelandic_ci</td>
                <td>冰岛语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf32_latvian_ci</td>
                <td>拉脱维亚语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf32_lithuanian_ci</td>
                <td>立陶宛语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf32_persian_ci</td>
                <td>波斯语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf32_polish_ci</td>
                <td>波兰语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf32_roman_ci</td>
                <td>西欧, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf32_romanian_ci</td>
                <td>罗马尼亚语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf32_sinhala_ci</td>
                <td>僧伽罗语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf32_slovak_ci</td>
                <td>斯洛伐克语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf32_slovenian_ci</td>
                <td>斯洛文尼亚语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf32_spanish2_ci</td>
                <td>传统西班牙语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf32_spanish_ci</td>
                <td>西班牙语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf32_swedish_ci</td>
                <td>瑞典语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf32_turkish_ci</td>
                <td>土耳其语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf32_unicode_520_ci</td>
                <td>Unicode (多语言)</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf32_unicode_ci</td>
                <td>Unicode (多语言), 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf32_vietnamese_ci</td>
                <td>越南语, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    utf8 (<i>UTF-8 Unicode</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf8_bin</td>
                <td>Unicode (多语言), 二进制</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf8_croatian_ci</td>
                <td>克罗地亚语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf8_czech_ci</td>
                <td>捷克语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf8_danish_ci</td>
                <td>丹麦语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf8_esperanto_ci</td>
                <td>世界语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf8_estonian_ci</td>
                <td>爱沙尼亚语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                     marked                                        ">
                <td>utf8_general_ci</td>
                <td>Unicode (多语言), 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf8_general_mysql500_ci</td>
                <td>Unicode (多语言)</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf8_german2_ci</td>
                <td>德语 (电话本), 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf8_hungarian_ci</td>
                <td>匈牙利语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf8_icelandic_ci</td>
                <td>冰岛语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf8_latvian_ci</td>
                <td>拉脱维亚语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf8_lithuanian_ci</td>
                <td>立陶宛语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf8_persian_ci</td>
                <td>波斯语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf8_polish_ci</td>
                <td>波兰语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf8_roman_ci</td>
                <td>西欧, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf8_romanian_ci</td>
                <td>罗马尼亚语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf8_sinhala_ci</td>
                <td>僧伽罗语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf8_slovak_ci</td>
                <td>斯洛伐克语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf8_slovenian_ci</td>
                <td>斯洛文尼亚语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf8_spanish2_ci</td>
                <td>传统西班牙语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf8_spanish_ci</td>
                <td>西班牙语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf8_swedish_ci</td>
                <td>瑞典语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf8_turkish_ci</td>
                <td>土耳其语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf8_unicode_520_ci</td>
                <td>Unicode (多语言)</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf8_unicode_ci</td>
                <td>Unicode (多语言), 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf8_vietnamese_ci</td>
                <td>越南语, 不区分大小写</td>
            </tr>
            <tr>
                <th colspan="2" class="right">
                    utf8mb4 (<i>UTF-8 Unicode</i>)
                </th>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf8mb4_bin</td>
                <td>Unicode (多语言), 二进制</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf8mb4_croatian_ci</td>
                <td>克罗地亚语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf8mb4_czech_ci</td>
                <td>捷克语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf8mb4_danish_ci</td>
                <td>丹麦语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf8mb4_esperanto_ci</td>
                <td>世界语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf8mb4_estonian_ci</td>
                <td>爱沙尼亚语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                     marked                                        ">
                <td>utf8mb4_general_ci</td>
                <td>Unicode (多语言), 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf8mb4_german2_ci</td>
                <td>德语 (电话本), 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf8mb4_hungarian_ci</td>
                <td>匈牙利语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf8mb4_icelandic_ci</td>
                <td>冰岛语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf8mb4_latvian_ci</td>
                <td>拉脱维亚语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf8mb4_lithuanian_ci</td>
                <td>立陶宛语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf8mb4_persian_ci</td>
                <td>波斯语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf8mb4_polish_ci</td>
                <td>波兰语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf8mb4_roman_ci</td>
                <td>西欧, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf8mb4_romanian_ci</td>
                <td>罗马尼亚语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf8mb4_sinhala_ci</td>
                <td>僧伽罗语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf8mb4_slovak_ci</td>
                <td>斯洛伐克语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf8mb4_slovenian_ci</td>
                <td>斯洛文尼亚语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf8mb4_spanish2_ci</td>
                <td>传统西班牙语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf8mb4_spanish_ci</td>
                <td>西班牙语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf8mb4_swedish_ci</td>
                <td>瑞典语, 不区分大小写</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf8mb4_turkish_ci</td>
                <td>土耳其语, 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf8mb4_unicode_520_ci</td>
                <td>Unicode (多语言)</td>
            </tr>
            <tr class="
                    odd                                                            ">
                <td>utf8mb4_unicode_ci</td>
                <td>Unicode (多语言), 不区分大小写</td>
            </tr>
            <tr class="
                    even                                                            ">
                <td>utf8mb4_vietnamese_ci</td>
                <td>越南语, 不区分大小写</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>